@import '../util/colors.scss';
@import '../components/button.scss';

div.profile-avatar {
	.avatar {
		border-radius: 16px;
		object-fit: cover;

		&.no-image {
			background-color: $gray-100;
		}
	}

	div.btn {
		margin: 16px auto 0;

		& > label {
			@include t4;
		}

		& > input {
			display: none;
		}
	}
}