@import '../util/colors.scss';
@import '../util/typography.scss';
@import '../util/misc-variables.scss';

.btn {
	@include t4;
	height: fit-content;
	width: fit-content;
	padding: 6px 16px;
	background-color: $white;
	box-shadow: $shadow;
	border-radius: 6px;
	color: $gray-700;
	border: none; 
	user-select: none;
	transition: all .2s ease-in-out;

	&.btn-sm {
		@include t6-responsive;
		padding: 3px 12px;
	}

	&.btn-lg {
		padding: 10.5px 21px;
	}

	&:hover {
		background-color: $gray-700;
		color: $white;
		box-shadow: $shadow-hover;
	}

	&.btn-primary {
		background-color: $primary-500;
		color: $white;

		&:hover {
			background-color: $primary-700;
		}
	}

	&.btn-danger {
		background-color: $white;
		color: $error-500;

		&:hover {
			background-color: $error-500;
			color: $white;
		}
	}

	&.btn-success {
		background-color: $white;
		color: $success-500;

		&:hover {
			background-color: $success-500;
			color: $white;
		}
	}

	&:active {
		filter: brightness(.7);
	}

	&:focus-visible {
		box-shadow: $shadow-hover;
	}
}
