@import '../util/colors.scss';
@import '../util/fonts.scss';

button.button {
	@include button;
	// height: 34px;
	padding: 6px 16px;
	background-color: $white;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	color: $gray-700;
	border: none; 
	transition: all .2s ease-in-out;

	&:hover {
		background-color: $gray-700;
		color: $white;
		box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	}

	&.primary {
		background-color: $primary-500;
		color: $white;
		margin-bottom: 16px;

		&:hover {
			background-color: $primary-700;
		}
	}

	&.attention {
		background-color: $white;
		color: $error-500;
		margin-bottom: 16px;

		&:hover {
			background-color: $error-500;
			color: $white;
		}
	}

	&.success {
		background-color: $white;
		color: $success-500;
		margin-bottom: 16px;

		&:hover {
			background-color: $success-500;
			color: $white;
		}
	}

	&:active {
		filter: brightness(.7);
	}

	&:focus-visible {
		box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
	}
}
