@import '../util/colors.scss';
@import '../util/typography.scss';
@import '../util/brpoints.scss';
@import '../util/spacings.scss';
@import '../util/misc-variables.scss';

div.form-element {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: $spacer-0;
	margin-bottom: $spacer-3;
	
	& > label.form-element-label {
		@include t5;
		min-width: 112px;
		color: $gray-500;

		@include breakpoint(md) {
			min-width: 124px;
		}
	}
	
	input.input {
		@include t5;
		color: $gray-700;
		min-width: fit-content;
		padding: 6px 12px;
		background-color: $white;
		box-shadow: $shadow;
		border: none;
		border-radius: 6px;
		transition: box-shadow .2s ease-in-out;

		@include breakpoint(md) {
			width: 200px;
		}

		&:hover,
		&:focus-visible {
			box-shadow: $shadow-hover;
		}

		&:disabled {
			box-shadow: none;
		}
	}
}
