@import '../util/colors.scss';
@import '../util/typography.scss';
@import '../util/brpoints.scss';
@import '../components/input.scss';

div.form-element {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	margin-bottom: 1rem;
	
	label {
		@include t5;
		min-width: fit-content;
		width: 124px;
		color: $gray-500;

		&.switch {
			width: 34px
		}
	}
	
	input {
		@include t5;
		@include input(6px 8px);
		color: $gray-700;

		&:disabled {
			box-shadow: none;
		}
		
		&.text {
			min-width: fit-content;
			width: 200px;
		}
	}
}