@import '../util/misc-variables.scss';
@import '../util/colors.scss';
@import '../util/spacings.scss';

div.input {
	display: flex;
	min-height: 40px;
	min-width: 180px;
	align-items: center;
	padding: 6px 12px;
	background-color: $white;
	box-shadow: $shadow;
	border-radius: 6px;
	transition: box-shadow .2s ease-in-out;

	&:hover,
	&:focus-visible {
		box-shadow: $shadow-hover;
	}

	ion-icon {
		width: 20px;
		height: 20px;
		color: $gray-500;
		margin-right: $spacer-2;
	}

	.input-input {
		border: none;
		color: $gray-700;

		&.input-sm {
			@include t6-responsive;
			padding: 3px 12px;
		}
	}
}
