@import '../util/colors.scss';
@import '../util/brpoints.scss';
@import '../util/spacings.scss';

nav.navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: $gray-90;
	border-radius: 16px;
	overflow: hidden;
	margin: $spacer-0 $spacer-2 $spacer-2 $spacer-2;
	padding: $spacer-2;

	@include breakpoint(sm) {
		margin: $spacer-0 $spacer-3 $spacer-3 $spacer-3;
	}

	@include breakpoint(md) {
		min-height: 550px;
		margin: $spacer-4 $spacer-0 $spacer-4 $spacer-4;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: $spacer-2;
	}

	div.logo {
		display: none;

		@include breakpoint(md) {
			display: block;
			margin: $spacer-2 $spacer-0 $spacer-0;
		}
	}

	div.navigation-pages {
		display: flex;
		justify-content: space-evenly;
		flex-grow: 3;

		& > a.react-link {
			display: block;
		}
		
		@include breakpoint(md) {
			justify-content: center;
			flex-direction: column;
			flex-grow: 0;

			& > a.react-link:not(:last-child) {
				margin-bottom: $spacer-4;
			}
		}
	}

	div.navigation-account {
		flex-grow: 1;

		@include breakpoint(md) {
			flex-grow: 0;
		}
	}
}
