@import '../util/colors.scss';
@import '../util/brpoints.scss';

nav.navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: $gray-90;
	border-radius: 16px;
	margin: 0px 8px 8px 8px;
	padding: 8px;

	@include breakpoint(sm) {
		margin: 0px 16px 16px 16px;
	}

	@include breakpoint(md) {
		min-height: 550px;
		margin: 24px 0px 24px 24px;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 12px;
	}

	div.logo {
		display: none;
		margin: 0 24px 0 0;

		@include breakpoint(md) {
			display: block;	
			margin: 12px 0 12px;
		}
	}

	div.navigation-pages {
		display: flex;
		justify-content: space-evenly;
		flex-grow: 3;

		& > a.react-link {
			display: block;
		}
		
		@include breakpoint(md) {
			justify-content: center;
			flex-direction: column;
			flex-grow: 0;

			& > a.react-link:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}

	div.navigation-account {
		flex-grow: 1;

		@include breakpoint(md) {
			flex-grow: 0;
		}
	}
}
