@import '../util/colors.scss';
@import '../util/fonts.scss';

a.react-link {
	text-decoration: none;
}

div.page-link {
	width: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 2px;
	transition: all .2s ease-in-out;
	text-decoration: none;
	
	&:hover {
		background: $gray-100;
		border-radius: 12px;
		cursor: pointer;
	}

	&:active,
	&.active {
		ion-icon {
			color: $primary-500;
		}
	
		p.page-link-text {
			color: $primary-500;
		}
	}

	ion-icon {
		width: 32px;
		height: 32px;
		margin: 8px 0 2px;
		color: $gray-700;
	}

	p.page-link-text {
		@include body;
		color: $gray-700;
		margin-bottom: 4px;
	}
}
