$white: white;
$gray-90: #F8F8F8;
$gray-100: #EDEDED;
$gray-400: #BBBBBB;
$gray-500: #737373;
$gray-700: #3C3C3C;
$gray-900: #222222;
$black: black;

$primary-100 : #F6EEFF;
$primary-200 : #E7D5FF;
$primary-400 : #C69AFF;
$primary-500 : #8423FF;
$primary-700 : #5A00CC;
$primary-900 : #22004D;
