$white: white;
$gray-90: #F8F8F8;
$gray-100: #EDEDED;
$gray-400: #BBBBBB;
$gray-500: #737373;
$gray-700: #3C3C3C;
$gray-900: #222222;
$black: black;

$primary-100 : #F6EEFF;
$primary-200 : #E7D5FF;
$primary-400 : #C69AFF;
$primary-500 : #8423FF;
$primary-700 : #5A00CC;
$primary-900 : #22004D;

$error-100 : #FAC9C9;
$error-200 : #F6A5A5;
$error-400 : #F28181;
$error-500 : #ED4B4B;

$info-100 : #FAE5BA;
$info-200 : #F7D591;
$info-400 : #F4C15F;
$info-500 : #EFA71A;

$success-100 : #DCF4D8;
$success-200 : #A8E39E;
$success-400 : #85D877;
$success-500 : #50C83D;
