// Spacing scale
$spacer-0: 0;
$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 24px;
$spacer-5: 32px;
$spacer-6: 40px;

// Extended spacing scale
// Primarily useful for achieving bigger vertical spacing between sections
$spacer-7: 48px;
$spacer-8: 64px;
$spacer-9: 80px;
$spacer-10: 96px;
$spacer-11: 112px;
$spacer-12: 128px;

// Em-based spacing
$em-spacer-1: .0625em;
$em-spacer-2: .125em;
$em-spacer-3: .25em;
$em-spacer-4: .375em;
$em-spacer-5: .5em;
$em-spacer-6: .75em;
