@import '../util/colors.scss';
@import '../util/typography.scss';
@import '../util/brpoints.scss';
@import '../components/input.scss';
@import '../util/spacings.scss';

div.auth {
	min-width: 220px;
	width: 100vw;
	min-height: 500px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.auth-container {
	min-width: 200px;
	width: calc(100vw - 32px);
	max-width: 620px;
	min-height: 400px;
	height: calc(100vh - 32px);
	max-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $gray-90;
	border-radius: 16px;
	padding: $spacer-3 $spacer-3 $spacer-2;

	@include breakpoint(md) {
		min-width: 420px;
		width: 620px;
		min-height: 522px;
		height: 90vh;
		max-height: 650px;
		padding: $spacer-4;
		margin: $spacer-3;
	}

	div.auth-header {

		div.logo {
			text-align: center;
		}
	
		h1 {
			text-align: center;
			margin: $spacer-3 $spacer-0 $spacer-3;

			@include breakpoint(md) {
				margin: $spacer-5 $spacer-0 $spacer-6;
			}
		}
	}

	div.auth-form {
		display: flex;
		flex-direction: column;
		align-items: center;

		div.auth-inputs {
			width: 100%;
			min-height: 152px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: $spacer-3;

			@include breakpoint(md) {
				min-height: 168px;
				margin-bottom: $spacer-4;
			}
	
			div.input {
				@include t5-responsive;
				width: 100%;
				max-width: 300px;
				height: 40px;
				color: $gray-500;

				@include breakpoint(md) {
					width: 300px;
					height: 40px;
				}

				& > input {
					width: 100%;
				}
	
				&:not(:last-child) {
					margin-bottom: $spacer-3;

					@include breakpoint(md) {
						margin-bottom: $spacer-4;
					}
				}
			}
		}

		div.auth-error {
			display: flex;
			margin-top: $spacer-3;

			@include breakpoint(md) {
				margin-top: $spacer-4;
			}

			ion-icon,
			ion-icon > div {
				min-width: 18px;
				min-height: 18px;
				color: $error-500;
				margin-right: $spacer-2;
			}

			p.auth-error-text {
				@include t5;
				color: $error-500;
			}
			
			&.hidden {
				visibility: hidden;
			}
		}
	}

	div.auth-footer {
		p {
			text-align: center;

			button {
				@include t5;
				color: $primary-500;
				text-decoration: underline;
				cursor: pointer;
				padding: 0 0 0 1px;
				background-color: transparent;
				border: none;
				transition: color .2s ease-in-out;

				&:hover {
					color: $primary-700;
				}
			}
		}
	}
}
