@import '../util/colors.scss';
@import '../util/typography.scss';
@import '../util/brpoints.scss';
@import '../components/input.scss';
@import '../util/spacings.scss';

div.auth {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 580px;
	width: 100vw;
	height: 100vh;
}

div.auth-container {
	width: 90vw;
	min-height: 460px;
	height: 90vh;
	background-color: #F8F8F8;
	border-radius: 16px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include breakpoint(sm) {
		min-width: 420px;
		width: 620px;
		min-height: 522px;
		height: 90vh;
		max-height: 650px;
		padding: $spacer-4;
	}

	div.auth-header {

		div.logo {
			text-align: center;
		}
	
		h1 {
			@include t0;
			text-align: center;
			color: $gray-700;
			margin: $spacer-4 $spacer-0 $spacer-5;

			@include breakpoint(sm) {
				margin: $spacer-5 $spacer-0 $spacer-7;
			}
		}
	}

	div.auth-form {
		display: flex;
		flex-direction: column;
		align-items: center;

		div.auth-inputs {
			min-height: 168px;
			margin-bottom: $spacer-4;
			display: flex;
			flex-direction: column;
			align-items: center;

			@include breakpoint(sm) {
				margin-bottom: $spacer-7;
			}
	
			input.input {
				width: 70vw;
				height: 38px;
				color: $gray-500;

				@include breakpoint(sm) {
					width: 300px;
					height: 40px;
				}
	
				&:not(:last-child) {
					margin-bottom: $spacer-4;
				}
			}
		}

		div.auth-error {
			display: flex;
			margin-top: $spacer-3;

			@include breakpoint(sm) {
				margin-top: $spacer-4;
			}

			ion-icon,
			ion-icon > div {
				min-width: 18px;
				min-height: 18px;
				color: $error-500;
				margin-right: $spacer-2;
			}

			p.auth-error-text {
				@include t5;
				color: $error-500;
			}
			
			&.hidden {
				visibility: hidden;
			}
		}
	}

	div.auth-footer {
		p {
			text-align: center;

			button {
				@include t5;
				color: $primary-500;
				text-decoration: underline;
				cursor: pointer;
				padding: 0 0 0 2px;
				background-color: transparent;
				border: none;
				transition: color .2s ease-in-out;

				&:hover {
					color: $primary-700;
				}
			}
		}
	}
}
