@import '../util/brpoints.scss';

div.cities-list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 16px 8px;

	@include for-size(tablet-portrait-up) {
		justify-content: flex-start;
		gap: 20px;
	}

	@include for-size(tablet-landscape-up) {
		gap: 24px;
	}
}