@import '../util/colors.scss';
@import '../util/brpoints.scss';

section#cities {
	padding: 8px 0;

	@include breakpoint(md) {
		padding: 0;
	}

	h2 {
		height: fit-content;
		color: $primary-500;
		margin: 0 0 8px;

		@include breakpoint(md) {
			margin: 0 0 24px;
		}
	}

	div.cities-list {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 16px 8px;

		@include breakpoint(sm) {
			justify-content: space-between;
		}
	
		@include breakpoint(md) {
			justify-content: flex-start;
			gap: 16px;
		}
	
		@include breakpoint(lg) {
			gap: 24px;
		}
	}
}
