@import '../util/brpoints.scss';

div.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  overflow-x: hidden;

  @include breakpoint(md) {
		flex-direction: row
	}

  main.content {
    width: 100%;
    overflow-y: scroll;
    padding: 12px;
    height: 100vh;

    @include breakpoint(sm) {
      padding: 16px;
    }

    @include breakpoint(md) {
      padding-left: 44px;
      padding-bottom: 24px;
    }
  }
}
