@import '../util/colors.scss';
@import '../util/brpoints.scss';

$mr: calc((100vw - 600px) / 2);
$ml: calc((100vw - 600px) / 2 - 144px);

section#profile {
	display: grid;
	column-gap: 10px;
  row-gap: 15px;
	align-items: center;
	margin: 0;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 34px 205px auto auto 35px;
	grid-template-areas:
		"heading edit"
		"avatar avatar"
		"form form"
		"form form"
		". signout";

	@include breakpoint(md) {
		max-width: 600px;
		height: fit-content;
		margin: 0 auto;
		grid-template-columns: repeat(3, 1fr) 150px;
		grid-template-rows: 53px repeat(2, auto) 75px;
		grid-template-areas:
			"heading . . edit"
			"form form form avatar"
			"form form form avatar"
			"form form form ."
			". . . signout";
	}
	
	@include breakpoint(lg) {
		width: 600px;
		margin: 0 $mr 0 $ml;
	}
	
	h2 {
		grid-area: heading;
		height: fit-content;
		color: $primary-500;
		margin: 0;
	}

	div.profile-avatar {
		grid-area: avatar;
		justify-self: center;
		align-self: flex-start;

		@include breakpoint(md) {
			justify-self: flex-start;
		}
	}

	button.btn {
		grid-area: edit;
		justify-self: flex-end;
	}

	div.profile-form {
		grid-area: form;
	}

	button.btn.btn-danger {
		grid-area: signout;
		justify-self: flex-end;
	}
}
