@import './scss/fonts.scss';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

h1 {
  @include heading1;
}

h2 {
  @include heading2;
}

h3, h4, h5 {
  @include heading3;
}

h6 {
  @include bigbody;
  margin: 0;
}

p, li, a {
  @include body;
  margin: 0;
}

body {
  margin: 0;
}
