@import './scss/util/typography.scss';
@import './scss/util/colors.scss';

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  font-family: Satoshi, Helvetica, sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span {
  color: $gray-700;
}

h1 {
  @include t0;
}

h2 {
  @include t1;
}

h3 {
  @include t2;
}

h4 {
  @include t3;
}

h5 {
  @include t4;
}

h6 {
  @include t5;
  margin: 0;
}

p,
a,
li,
span,
label,
input,
button {
  @include t5;
  margin: 0;
}
