.app {
  text-align: center;

  .app-header {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #252525;

    .app-logo {
      height: 32vmin;
      pointer-events: none;
    }

    p {
      width: 90%;
    }

    a {
      color: #008786;
      transition: all .2s ease-in-out;

      &:hover {
        color: #005756;
      }
    }

    .social-media {
      margin-top: 16px;

      a {
        font-size: calc(10px + 1.5vmin);
        margin: 0 8px;
      }
    }
  }
}
