@import './colors.scss';
@import './fonts.scss';

div.auth-container {
	height: fit-content;
	width: 620px;
	min-width: 420px;
	background-color: #F8F8F8;
	border-radius: 16px;
	padding: 16px;

	h1 {
		@include heading1;
	}

	div.auth-form {
		min-height: 168px;
		margin-bottom: 56px;
		display: flex;
		flex-direction: column;
		align-items: center;

		input.auth-input {
			width: 300px;
			height: 40px;
			padding: 8px;
			background-color: white;
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
			border-radius: 6px;
			@include bigbody;
			color: $gray-500;
			border: none;
			transition: box-shadow .2s ease-in-out;

			&:not(:last-child) {
				margin-bottom: 24px;
			}

			&:hover {
				box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
			}

			&:focus-visible {
				box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
			}
		}
	}

	div.auth-buttons {
		display: flex;
		flex-direction: column;
		align-items: center;

		button.auth-button {
			height: 40px;
			width: fit-content;
			padding: 8px 24px;
			background-color: white;
			box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
			border-radius: 6px;
			@include body;
			color: $gray-900;
			border: none;
			border-color: $white;
			transition: all .2s ease-in-out;

			&.primary {
				background-color: $primary-500;
				color: $white;
				@include bigbody;
				margin-bottom: 16px;

				&:hover {
					background-color: $primary-700;
				}
			}

			&:hover {
				box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
			}

			&:focus-visible {
				box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
			}
		}
	}
}
